{% extends 'base.html' %}
{% load static %}



{% block content %}
  <p>Welcome to your Dashboard!</p>


  <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file"></span>
                  Documents
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="users"></span>
                  Share
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="bar-chart-2"></span>
                  Reports
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="layers"></span>
                  Integrations
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Saved reports</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  4/26/2019 03:38PM
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  4/26/2019 04:10PM
                </a>
              </li>
              
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                Select Model
              </button>
            </div>
          </div>

          <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

          <h2>All Features</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Feature</th>
                  <th>Confidence Score</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td><p id="feature1"></p></td>
                  <td><p id="value1"></p></td>
                 
                </tr>
                <tr>
                  <td>2</td>
                  <td><p id="feature2"></p></td>
                  <td><p id="value2"></p></td>
                  
                </tr>
                <tr>
                  <td>3</td>
                  <td><p id="feature3"></p></td>
                  <td><p id="value3"></p></td>
                  
                </tr>
                <tr>
                  <td>4</td>
                  <td><p id="feature4"></p></td>
                  <td><p id="value4"></p></td>
                  
                </tr>
                <tr>
                  <td>5</td>
                  <td><p id="feature5"></p></td>
                  <td><p id="value5"></p></td>
                  
                </tr>
                <tr>
                  <td>6</td>
                  <td><p id="feature6"></p></td>
                  <td><p id="value6"></p></td>
                  
                </tr>
                <tr>
                  <td>7</td>
                  <td><p id="feature7"></p></td>
                  <td><p id="value7"></p></td>
                  
                </tr>
                <tr>
                  <td>8</td>
                  <td><p id="feature8"></p></td>
                  <td><p id="value8"></p></td>
                  
                </tr>
                <tr>
                  <td>9</td>
                  <td><p id="feature9"></p></td>
                  <td><p id="value9"></p></td>
                  
                </tr>
                <tr>
                  <td>10</td>
                  <td><p id="feature10"></p></td>
                  <td><p id="value10"></p></td>
                  
                </tr>
                <tr>
                  <td>11</td>
                  <td><p id="feature11"></p></td>
                  <td><p id="value11"></p></td>
                  
                </tr>
                <tr>
                  <td>12</td>
                  <td><p id="feature12"></p></td>
                  <td><p id="value12"></p></td>
                  
                </tr>
                <tr>
                  <td>13</td>
                  <td><p id="feature13"></p></td>
                  <td><p id="value13"></p></td>
                  
                </tr>
                <tr>
                  <td>14</td>
                  <td><p id="feature14"></p></td>
                  <td><p id="value14"></p></td>
                  
                </tr>
                <tr>
                  <td>15</td>
                  <td><p id="feature15"></p></td>
                  <td><p id="value15"></p></td>
                 
                </tr>
                <tr>
                  <td>16</td>
                  <td><p id="feature16"></p></td>
                  <td><p id="value16"></p></td>
                  
                </tr>
                <tr>
                  <td>17</td>
                  <td><p id="feature17"></p></td>
                  <td><p id="value17"></p></td>
                  
                </tr>
                <tr>
                  <td>18</td>
                  <td><p id="feature18"></p></td>
                  <td><p id="value18"></p></td>
                  
                </tr>
                <tr>
                  <td>19</td>
                  <td><p id="feature19"></p></td>
                  <td><p id="value19"></p></td>
                  
                </tr>
                <tr>
                  <td>20</td>
                  <td><p id="feature20"></p></td>
                  <td><p id="value20"></p></td>
                  
                </tr>
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
      var ctx = document.getElementById("myChart");
      var jsonObject = JSON.parse('{{ concepts_json | escapejs }}');
      console.log(jsonObject);
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          //labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
          labels: [jsonObject[0].name, jsonObject[1].name, jsonObject[2].name, jsonObject[3].name, jsonObject[4].name, jsonObject[5].name, jsonObject[6].name, jsonObject[7].name, jsonObject[8].name, jsonObject[9].name],
          datasets: [{
            data: [jsonObject[0].value, jsonObject[1].value, jsonObject[2].value, jsonObject[3].value, jsonObject[4].value, jsonObject[5].value, jsonObject[6].value, jsonObject[7].value, jsonObject[8].value, jsonObject[9].value],
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });
      document.getElementById("feature1").innerHTML=jsonObject[0].name;
      document.getElementById("feature2").innerHTML=jsonObject[1].name;
      document.getElementById("feature3").innerHTML=jsonObject[2].name;
      document.getElementById("feature4").innerHTML=jsonObject[3].name;
      document.getElementById("feature5").innerHTML=jsonObject[4].name;
      document.getElementById("feature6").innerHTML=jsonObject[5].name;

      document.getElementById("feature7").innerHTML=jsonObject[6].name;
      document.getElementById("feature8").innerHTML=jsonObject[7].name;
      document.getElementById("feature9").innerHTML=jsonObject[8].name;

      document.getElementById("feature10").innerHTML=jsonObject[9].name;
      document.getElementById("feature11").innerHTML=jsonObject[10].name;
      document.getElementById("feature12").innerHTML=jsonObject[11].name;

      document.getElementById("feature13").innerHTML=jsonObject[12].name;
      document.getElementById("feature14").innerHTML=jsonObject[13].name;
      document.getElementById("feature15").innerHTML=jsonObject[14].name;
      document.getElementById("feature16").innerHTML=jsonObject[15].name;
      document.getElementById("feature17").innerHTML=jsonObject[16].name;
      document.getElementById("feature18").innerHTML=jsonObject[17].name;
      document.getElementById("feature19").innerHTML=jsonObject[18].name;
      document.getElementById("feature20").innerHTML=jsonObject[19].name;

      document.getElementById("value1").innerHTML=jsonObject[0].value;
      document.getElementById("value2").innerHTML=jsonObject[1].value;
      document.getElementById("value3").innerHTML=jsonObject[2].value;
      document.getElementById("value4").innerHTML=jsonObject[3].value;
      document.getElementById("value5").innerHTML=jsonObject[4].value;
      document.getElementById("value6").innerHTML=jsonObject[5].value;

      document.getElementById("value7").innerHTML=jsonObject[6].value;
      document.getElementById("value8").innerHTML=jsonObject[7].value;
      document.getElementById("value9").innerHTML=jsonObject[8].value;

      document.getElementById("value10").innerHTML=jsonObject[9].value;
      document.getElementById("value11").innerHTML=jsonObject[10].value;
      document.getElementById("value12").innerHTML=jsonObject[11].value;

      document.getElementById("value13").innerHTML=jsonObject[12].value;
      document.getElementById("value14").innerHTML=jsonObject[13].value;
      document.getElementById("value15").innerHTML=jsonObject[14].value;
      document.getElementById("value16").innerHTML=jsonObject[15].value;
      document.getElementById("value17").innerHTML=jsonObject[16].value;
      document.getElementById("value18").innerHTML=jsonObject[17].value;
      document.getElementById("value19").innerHTML=jsonObject[18].value;
      document.getElementById("value20").innerHTML=jsonObject[19].value;
     

      </script>
{% endblock %}
